@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
}

img {
    float: left;

    border:4px solid white;
    margin:5px;
}

#mast {
    width: 100%;
    background-color: #ddd;
    height: 50px;
    position: fixed;
}

.container {
    max-width: 1040px;
    border: 1px solid black;
    margin: 0 auto;
}

.section {
    border: 1px solid #ddd;
    min-height: 500px;
    background-color: #fff;
}

#nav {
    float: right;
    margin-top: 5px;
    width: 900px;
}

#nav ul {
    list-style: none;
    margin: 0 auto;
    display: block;
}

#nav li {
    float: left;
    padding: 10px;
    margin: 2px;
    background-color: black;
}

#nav li a {
    text-decoration: none;
    font-size: 1em;
    color: white;
}

#nav li a.active {
    border-bottom: 3px solid yellow;
    color: yellow;
}

#nav li a:hover {
    color: red;
}

.clear {
    clear: both;
}

.wrap {
    background-color: black;
    background-color: black;
    border-radius: 20px;
    padding: 30px;
    margin: 40px auto;
    width: 70%;
}
.wrap p{
  color: white;
}

#section1 .wrap {
    margin-top: 90px
}

#section1 {
    background: url('https://www.thesentientrobot.com/wp-content/uploads/2017/05/evolution-1000x640.jpg');
    background-size: cover;
}
#section2 {
    background: url('http://iwearshorts.com/wp-content/uploads/2015/02/bash.jpg');
    background-size: cover;
}

#section3 {
    background: url('https://cn.opendesktop.org/img//hive/content-pre1/133574-1.jpg');
    background-size: cover;
}
#section4 {
    background: url('https://mymodernmet.com/wp/wp-content/uploads/2018/09/depression-illustration-series-dawid-planeta-17.jpg');
    background-size: cover;
}

#section5 {
    background: url('https://fanfest.com/wp-content/uploads/2017/07/chesterb.jpg');
    background-size: cover;
}
#section6 {
    background: url('https://www.hubrum.com/wp-content/uploads/2016/05/frontiers-in-robotics-and-ai-polani-empowerment-robot-ethics1.jpg');
    background-size: cover;
}


#footer {
    background-color: #333;
    color: white;
    padding: 20px;
}

.col-1 {
    width: 66%;
    display: inline-block;
    margin-bottom: 20px;
}

.col-2 {
    width: 33%;
    display: inline-block;
}

.col-2 li a{
    color: white;
}
